<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/nav")%>

    <div>
    <h1>This is home page</h1>
    <a href="/secret">Secret</a>
</div>
</body>
</html>